body {
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: black;
    font-size: 30px;
    text-align: center;
}
.box {
    display: inline-block;
    width: 1500px;
    padding: 67px;
    border: 2px solid black;
    font-size: 15px;
    background: burlywood;
    text-align: center;
    line-height: 1;
<<<<<<< HEAD
=======
}

.lines div {
    height: 2px;
    background: black;
    margin: 5px 0;
}

p {
    color: black;
    font-size: 28px;
    margin-left: center;
}
.Cookie {
	width: 200px;
	height: 200px;
	margin-left: center;

>>>>>>> 0df058a (basic style css)
}

.lines div {
    height: 2px;
    background: black;
    margin: 5px 0;
}

<<<<<<< HEAD
p {
    color: black;
    font-size: 18px;
    margin-left: 10px;
}
=======
>>>>>>> 0df058a (basic style css)
.btn {
    background: burlywood ;
    margin-left: 1400px ;
}
<<<<<<< HEAD
.prog {
=======
.button {
>>>>>>> 0df058a (basic style css)
    background: burlywood;
    margin-left: 1300px;
}